{
    "linters":{
        "*.js":[
            "eslint --fix"
        ],
        "**/*.+(js|json)":[
            "prettier --write",
            "git add"
        ],
        "(/__tests__/.*|(\\.|/)(test|spec))\\.jsx?$":[
            jest
        ]
    },
    "ignore":['**/dist/*']
}